.portfolio__navbar {
  width: 100%;
  height: auto;
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  justify-content: space-between;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  position: fixed;
  z-index: 4;
}

.portfolio__navbar--logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  img {
    height: 50px;
    width: 50px;

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;
    }
  }
}