* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5efff;
  background-image: linear-gradient(135deg, #f5efff 0%, #ebd6ff 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  height: auto;
}